<table class="table table-bordered">
    <tbody>
    <tr>
      <td><label>ID: </label><input type="text" disabled="true" [(ngModel)]="studentToEdit.Id" placeholder="Student ID"></td>
      <td><label>Name: </label><input type="text" [(ngModel)]="studentToEdit.Name" placeholder="Student Name"></td>
      <td><label>Age: </label><input type="text" [(ngModel)]="studentToEdit.Age" placeholder="Student Age"></td>
    </tr>
    <tr>
      <td colspan="3"><button class="btn btn-success" (click)="saveStudent()">
          Save
        </button></td>
        
    </tr>
    </tbody>
  
  </table>
  
